# Python
.venv/
__pycache__/
*.py[cod]
*.sqlite3

# Django / Python env
.env
.env.*
backend/.env
backend/staticfiles/
backend/media/

# Node
frontend/node_modules/
frontend/dist/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*