Django==4.2.25
djangorestframework==3.17.1
django-cors-headers==4.9.0
python-decouple==3.8
dj-database-url==3.1.0
psycopg2-binary==2.9.11
whitenoise==6.11.0
gunicorn==23.0.0
stripe==14.2.0
ipython==9.4.0
coverage